<div class="jtip-quality">CAM</div>
<div class="jtip-top">
    <div class="jt-info jt-imdb">IMDb: 5.2</div>
    <div class="jt-info">2016</div>
    <div class="jt-info">124 min</div>
    <div class="clearfix"></div>
</div>
<p class="f-desc">Judah Ben-Hur (Jack Huston) loses everything after his adopted brother accuses the
 young prince of treason. Ben-Hur then returns to his homeland after ...</p>

    <div class="block">Country:
        <a href="http://123movies.to/country/us" title="United States">United States</a>    </div>
    <div class="block">Genre:
        <a href="http://123movies.to/genre/adventure/" title="Adventure">Adventure</a>, <a href="http
://123movies.to/genre/drama/" title="Drama">Drama</a>    </div>
<div class="jtip-bottom">
    <a href="http://123movies.to/film/ben-hur-15589/watching.html"
       class="btn btn-block btn-success"><i
            class="fa fa-play-circle mr10"></i>Watch movie</a>
    <button onclick="favorite(15589,1)"
            class="btn btn-block btn-default mt10 btn-favorite-15589 remove-favorite">
        <i class="fa fa-heart mr10"></i>Favorite
    </button>
</div>