{% extends "index.html" %}

{% block html_head %}
  <title>Watch Ben-Hur (Latino Audio) For Free On 123Movies.to</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="content-language" content="en" />

  <meta name="description" content="Ben-Hur (Latino Audio) Judah Ben-Hur (Jack Huston) loses everything after his adopted brother accuses the young prince of treason. Ben-Hur then returns to his homeland after years at sea to seek revenge, but finds redemption." />
  <meta name="keywords" content="123movies, 123movies.to, watch hd movies, watch HD films, Hot new moviesBen-Hur, Jack Huston, Toby Kebbell, Rodrigo Santoro, Timur Bekmambetov" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
{% endblock %}

{% block html_head_script %}
  <script type="text/javascript">
    //<![CDATA[
    try {
      if (!window.CloudFlare) {
        var CloudFlare = [{
          verbose: 0,
          p: 0,
          byc: 0,
          owlid: "cf",
          bag2: 1,
          mirage2: 0,
          oracle: 0,
          paths: {
            cloudflare: "/cdn-cgi/nexp/dok3v=1613a3a185/"
          },
          atok: "fb2b41b06cb1767c4754bd3cd7de2b85",
          petok: "0d4bd30829055acd84fc7b35fd06dc60c423d537-1472110799-1800",
          adblock: 1,
          betok: "7d0c27c3af1736366b414742948e56c3313a1efc-1472110799-120",
          zone: "123movies.to",
          rocket: "0",
          apps: {},
          sha2test: 0
        }];
        ! function(a, b) {
          a = document.createElement("script"), b = document.getElementsByTagName("script")[0], a.async = !0, a.src = "//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=0489c402f5/cloudflare.min.js", b.parentNode.insertBefore(a, b)
        }()
      }
    } catch (e) {};
    //]]>
  </script>

  <script type="text/javascript" src="http://123movies.to/assets/js/psbar.jquery.min.js"></script>
  <script type="text/javascript" src="http://123movies.to/assets/js/star-rating.js"></script>
  <script type="text/javascript" src="http://123movies.to/assets/js/jquery.smooth-scroll.min.js"></script>

{% endblock %}

