{% extends "index.html" %}

{% block top_content %}

<div class="top-content">
    <!-- slider -->
    <div id="slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(http://img.123movies.to/2016/07/06/cover/5b580d5236ab7cb30fa1d57930082450-the-bfg-2016-1467804127.jpg);">
          <a href="http://123movies.to/film/the-bfg-2016-14111/" class="slide-link" title="The BFG (2016)"></a>
          <span class="slide-caption">
                        <h2>The BFG (2016)</h2>
                        <p class="sc-desc">Ten-year-old Sophie is in for the adventure of a lifetime when she meets the Big Friendly Giant, who, despite his intimidating appearance, turns out t...</p>
                        <div class="slide-caption-info">
                            <div class="block"><strong>Genre:</strong>
                                <a href="http://123movies.to/genre/adventure/" title="Adventure">Adventure</a>, <a href="http://123movies.to/genre/family/" title="Family">Family</a>, <a href="http://123movies.to/genre/fantasy/" title="Fantasy">Fantasy</a>                                </div>
                            <div class="block"><strong>Duration:</strong> 117 min</div>
                            <div class="block"><strong>Release:</strong> 2016</div>
                            <div class="block"><strong>IMDb:</strong> 7.1</div>
                        </div>
                        <a href="http://123movies.to/film/the-bfg-2016-14111/watching.html">
                            <div class="btn btn-success mt20">Watching</div>
                        </a>
                    </span>
        </div>
        <div class="swiper-slide" style="background-image: url(http://img.123movies.to/2016/07/05/cover/8bb8a326baa11bfc63ed9090cf87a42a-ice-age-collision-course-latino-audio-1467737659.jpg);">
          <a href="http://123movies.to/film/ice-age-collision-course-14078/" class="slide-link" title="Ice Age: Collision Course (Latino Audio)"></a>
          <span class="slide-caption">
                        <h2>Ice Age: Collision Course (Latino Audio)</h2>
                        <p class="sc-desc">Scrat's epic pursuit of the elusive acorn catapults him into the universe where he accidentally sets off a series of cosmic events that transform and ...</p>
                        <div class="slide-caption-info">
                            <div class="block"><strong>Genre:</strong>
                                <a href="http://123movies.to/genre/adventure/" title="Adventure">Adventure</a>, <a href="http://123movies.to/genre/comedy/" title="Comedy">Comedy</a>, <a href="http://123movies.to/genre/animation/" title="Animation">Animation</a>                                </div>
                            <div class="block"><strong>Duration:</strong> 94 min</div>
                            <div class="block"><strong>Release:</strong> 2016</div>
                            <div class="block"><strong>IMDb:</strong> 6.3</div>
                        </div>
                        <a href="http://123movies.to/film/ice-age-collision-course-14078/watching.html">
                            <div class="btn btn-success mt20">Watching</div>
                        </a>
                    </span>
        </div>
        <div class="swiper-slide" style="background-image: url(http://img.123movies.to/2016/07/03/cover/7eb2f304a16e85808aaacb6a0d0ee68d-the-legend-of-tarzan-1467562988.jpg);">
          <a href="http://123movies.to/film/the-legend-of-tarzan-2016-14031/" class="slide-link" title="The Legend of Tarzan"></a>
          <span class="slide-caption">
                        <h2>The Legend of Tarzan</h2>
                        <p class="sc-desc">It's been nearly a decade since Tarzan (Alexander Skarsgård) left Africa to live in Victorian England with his wife Jane. Having acclimated to life i...</p>
                        <div class="slide-caption-info">
                            <div class="block"><strong>Genre:</strong>
                                <a href="http://123movies.to/genre/action/" title="Action">Action</a>, <a href="http://123movies.to/genre/adventure/" title="Adventure">Adventure</a>                                </div>
                            <div class="block"><strong>Duration:</strong> 109 min</div>
                            <div class="block"><strong>Release:</strong> 2016</div>
                            <div class="block"><strong>IMDb:</strong> 7.2</div>
                        </div>
                        <a href="http://123movies.to/film/the-legend-of-tarzan-2016-14031/watching.html">
                            <div class="btn btn-success mt20">Watching</div>
                        </a>
                    </span>
        </div>
        <div class="swiper-slide" style="background-image: url(http://img.123movies.to/2016/07/01/cover/87ef35a3fe4d8989f2e4c98d0526cd50-me-before-you-1467393350.jpg);">
          <a href="http://123movies.to/film/me-before-you-13984/" class="slide-link" title="Me Before You"></a>
          <span class="slide-caption">
                        <h2>Me Before You</h2>
                        <p class="sc-desc">Louisa Clark forms an unlikely bond with a wealthy young banker left paralyzed from an accident, who hires her as his caretaker....</p>
                        <div class="slide-caption-info">
                            <div class="block"><strong>Genre:</strong>
                                <a href="http://123movies.to/genre/romance/" title="Romance">Romance</a>, <a href="http://123movies.to/genre/drama/" title="Drama">Drama</a>                                </div>
                            <div class="block"><strong>Duration:</strong> 110 min</div>
                            <div class="block"><strong>Release:</strong> 2016</div>
                            <div class="block"><strong>IMDb:</strong> 7.7</div>
                        </div>
                        <a href="http://123movies.to/film/me-before-you-13984/watching.html">
                            <div class="btn btn-success mt20">Watching</div>
                        </a>
                    </span>
        </div>
        <div class="swiper-slide" style="background-image: url(http://img.123movies.to/2016/06/28/cover/70e2687c5a8cdc237d85c4a31118019f-green-room-1467135093.jpg);">
          <a href="http://123movies.to/film/green-room-13857/" class="slide-link" title="Green Room"></a>
          <span class="slide-caption">
                        <h2>Green Room</h2>
                        <p class="sc-desc">Members (Anton Yelchin, Alia Shawkat) of a punk-rock band and a tough young woman (Imogen Poots) are forced into a vicious fight for survival against ...</p>
                        <div class="slide-caption-info">
                            <div class="block"><strong>Genre:</strong>
                                <a href="http://123movies.to/genre/thriller/" title="Thriller">Thriller</a>, <a href="http://123movies.to/genre/crime/" title="Crime">Crime</a>, <a href="http://123movies.to/genre/horror/" title="Horror">Horror</a>                                </div>
                            <div class="block"><strong>Duration:</strong> 95 min</div>
                            <div class="block"><strong>Release:</strong> 2015</div>
                            <div class="block"><strong>IMDb:</strong> 7.7</div>
                        </div>
                        <a href="http://123movies.to/film/green-room-13857/watching.html">
                            <div class="btn btn-success mt20">Watching</div>
                        </a>
                    </span>
        </div>
        <div class="swiper-slide" style="background-image: url(http://img.123movies.to/2016/06/27/cover/bfe07d377bdf729b3488230b23a8ddc3-independence-day-resurgence-hindi-audio-1467037052.jpg);">
          <a href="http://123movies.to/film/independence-day-resurgence-13851/" class="slide-link" title="Independence Day: Resurgence"></a>
          <span class="slide-caption">
                        <h2>Independence Day: Resurgence</h2>
                        <p class="sc-desc">As the Fourth of July nears, satellite engineer David Levinson investigates a 3,000-mile-wide mother ship that's approaching Earth, drilling a hole in...</p>
                        <div class="slide-caption-info">
                            <div class="block"><strong>Genre:</strong>
                                <a href="http://123movies.to/genre/action/" title="Action">Action</a>, <a href="http://123movies.to/genre/adventure/" title="Adventure">Adventure</a>, <a href="http://123movies.to/genre/sci-fi/" title="Sci-Fi">Sci-Fi</a>                                </div>
                            <div class="block"><strong>Duration:</strong> 120 min</div>
                            <div class="block"><strong>Release:</strong> 2016</div>
                            <div class="block"><strong>IMDb:</strong> 5.8</div>
                        </div>
                        <a href="http://123movies.to/film/independence-day-resurgence-13851/watching.html">
                            <div class="btn btn-success mt20">Watching</div>
                        </a>
                    </span>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="clearfix"></div>
    </div>
    <!--/slider -->
    <!--top news-->
    <div id="top-news">
      <div class="top-news">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#tn-news" role="tab" data-toggle="tab">LATEST NEWS</a>
          </li>
          <li><a href="#tn-notice" role="tab" data-toggle="tab">NOTICE</a>
          </li>
        </ul>
        <div class="top-news-content">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane in fade active" id="tn-news">
              <ul class="tn-news">
                <li>
                  <a href="http://123movies.to/articles/view/tomb-raider-reboot-will-not-hit-theaters-until-2018/342" title="Tomb Raider Reboot Will Not Hit Theaters Until 2018!" class="thumb news-thumb" style="background-image:url(http://img.123movies.to/2016/07/08/thumbnail/8e3575a36985ac4e8c48115a5656bf07-tomb-raider-reboot-will-not-hit-theaters-until-2018-1468009652.jpg);"></a>

                  <div class="tnc-info">
                    <h4>
                                                    <a href="http://123movies.to/articles/view/tomb-raider-reboot-will-not-hit-theaters-until-2018/342"
                                                       title="Tomb Raider Reboot Will Not Hit Theaters Until 2018!">Tomb Raider Reboot Will Not Hit Theaters Until 2018!</a></h4>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <a href="http://123movies.to/articles/view/robert-downey-jr-changed-his-mind-he-could-probably-do-iron-man-4/341" title="Robert Downey Jr. Changed His Mind! He Could Probably Do Iron Man 4!" class="thumb news-thumb" style="background-image:url(http://img.123movies.to/2016/07/08/thumbnail/4f5ee6a0d6521dc8ac32edf764aef3c8-robert-downey-jr-changed-his-mind-he-could-probably-do-iron-man-4-1468008887.jpg);"></a>

                  <div class="tnc-info">
                    <h4>
                                                    <a href="http://123movies.to/articles/view/robert-downey-jr-changed-his-mind-he-could-probably-do-iron-man-4/341"
                                                       title="Robert Downey Jr. Changed His Mind! He Could Probably Do Iron Man 4!">Robert Downey Jr. Changed His Mind! He Could Probably Do Iron Man 4!</a></h4>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <a href="http://123movies.to/articles/view/12-most-famous-films-about-animals/340" title="12 Most Famous Films about Animals!" class="thumb news-thumb" style="background-image:url(http://img.123movies.to/2016/07/07/thumbnail/388331f1a58d66e60fd30d7fb01218ab-12-most-famous-films-about-animals-1467957326.jpg);"></a>

                  <div class="tnc-info">
                    <h4>
                                                    <a href="http://123movies.to/articles/view/12-most-famous-films-about-animals/340"
                                                       title="12 Most Famous Films about Animals!">12 Most Famous Films about Animals!</a></h4>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <a href="http://123movies.to/articles/view/perfect-places-to-watch-the-lord-of-the-rings-jurassic-park-and-so-on/339" title="Perfect Places to Watch The Lord of the Rings, Jurassic Park, And So on." class="thumb news-thumb" style="background-image:url(http://img.123movies.to/2016/07/07/thumbnail/438348c0a248819c1e32929b2cf21a66-perfect-places-to-watch-the-lord-of-the-rings-jurassic-park-and-so-on-1467874617.jpg);"></a>

                  <div class="tnc-info">
                    <h4>
                                                    <a href="http://123movies.to/articles/view/perfect-places-to-watch-the-lord-of-the-rings-jurassic-park-and-so-on/339"
                                                       title="Perfect Places to Watch The Lord of the Rings, Jurassic Park, And So on.">Perfect Places to Watch The Lord of the Rings, Jurassic Park, And So on.</a></h4>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <a href="http://123movies.to/articles/view/minecraft-film-will-be-released-in-2019/338" title="Minecraft Film Will Be Released in 2019" class="thumb news-thumb" style="background-image:url(http://img.123movies.to/2016/07/06/thumbnail/2307948a18ebe96fbbef2fc2818b267a-minecraft-film-will-be-released-in-2019-1467846931.jpg);"></a>

                  <div class="tnc-info">
                    <h4>
                                                    <a href="http://123movies.to/articles/view/minecraft-film-will-be-released-in-2019/338"
                                                       title="Minecraft Film Will Be Released in 2019">Minecraft Film Will Be Released in 2019</a></h4>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <a href="http://123movies.to/articles/view/fast-furious-star-tyrese-gibson-make-a-return-in-transformers-5/337" title="Fast & Furious Star Tyrese Gibson Make a Return in Transformers 5" class="thumb news-thumb" style="background-image:url(http://img.123movies.to/2016/07/06/thumbnail/80043b8c3677726f005576b0124208bd-fast-furious-star-tyrese-gibson-make-a-return-in-transformers-5-1467794108.jpg);"></a>

                  <div class="tnc-info">
                    <h4>
                                                    <a href="http://123movies.to/articles/view/fast-furious-star-tyrese-gibson-make-a-return-in-transformers-5/337"
                                                       title="Fast & Furious Star Tyrese Gibson Make a Return in Transformers 5">Fast & Furious Star Tyrese Gibson Make a Return in Transformers 5</a></h4>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <a href="http://123movies.to/articles/view/5-huge-roles-that-were-turned-down-by-matt-damon/336" title="5 Huge Roles That Were Turned Down by Matt Damon" class="thumb news-thumb" style="background-image:url(http://img.123movies.to/2016/07/05/thumbnail/19be76772a8a62abe07b8249d71a9b4f-5-huge-roles-that-were-turned-down-by-matt-damon-1467746151.jpg);"></a>

                  <div class="tnc-info">
                    <h4>
                                                    <a href="http://123movies.to/articles/view/5-huge-roles-that-were-turned-down-by-matt-damon/336"
                                                       title="5 Huge Roles That Were Turned Down by Matt Damon">5 Huge Roles That Were Turned Down by Matt Damon</a></h4>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <a href="http://123movies.to/articles/view/8-movies-that-will-help-hollywood-save-its-disastrous-2016/335" title="8 Movies that Will Help Hollywood Save Its Disastrous 2016" class="thumb news-thumb" style="background-image:url(http://img.123movies.to/2016/07/04/thumbnail/fe786c83fa0df677b8ae7dbdc861137c-8-movies-that-will-help-hollywood-save-its-disastrous-2016-1467700685.jpg);"></a>

                  <div class="tnc-info">
                    <h4>
                                                    <a href="http://123movies.to/articles/view/8-movies-that-will-help-hollywood-save-its-disastrous-2016/335"
                                                       title="8 Movies that Will Help Hollywood Save Its Disastrous 2016">8 Movies that Will Help Hollywood Save Its Disastrous 2016</a></h4>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <a href="http://123movies.to/articles/view/spectre-and-kingsman-the-secret-service-are-the-most-complained-about-films-of-2015/334" title="Spectre and Kingsman: The Secret Service are the Most Complained about Films of 2015" class="thumb news-thumb" style="background-image:url(http://img.123movies.to/2016/07/04/thumbnail/7c81c353b7ab14e27025c4fe5a59dc88-spectre-and-kingsman-the-secret-service-are-the-most-complained-about-films-of-2015-1467661128.jpg);"></a>

                  <div class="tnc-info">
                    <h4>
                                                    <a href="http://123movies.to/articles/view/spectre-and-kingsman-the-secret-service-are-the-most-complained-about-films-of-2015/334"
                                                       title="Spectre and Kingsman: The Secret Service are the Most Complained about Films of 2015">Spectre and Kingsman: The Secret Service are the Most Complained about Films of 2015</a></h4>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <a href="http://123movies.to/articles/view/17-highest-grossing-summer-blockbusters-of-the-21st-century-so-far/333" title="17 Highest-Grossing Summer Blockbusters of the 21st Century So Far!" class="thumb news-thumb" style="background-image:url(http://img.123movies.to/2016/07/03/thumbnail/8d76d08e37110fa76b4b077e1d5c5182-17-highest-grossing-summer-blockbusters-of-the-21st-century-so-far-1467584430.jpg);"></a>

                  <div class="tnc-info">
                    <h4>
                                                    <a href="http://123movies.to/articles/view/17-highest-grossing-summer-blockbusters-of-the-21st-century-so-far/333"
                                                       title="17 Highest-Grossing Summer Blockbusters of the 21st Century So Far!">17 Highest-Grossing Summer Blockbusters of the 21st Century So Far!</a></h4>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li class="view-more">
                  <a href="http://123movies.to/articles/news"> View more <i
                                                class="fa fa-chevron-circle-right"></i></a>
                </li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tn-notice">
              <div class="tnc-apps">
                <a href="#" class="tnca-block ios"><i class="fa fa-apple"></i><span>123movies</span>
                                    for Apple iOs</a>
                <a href="#" class="tnca-block android"><i
                                        class="fa fa-android"></i><span>123movies</span> for Android</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/top news-->
    <div class="clearfix"></div>
</div>

<!--social home-->
<div class="social-home">
<div class="sh-like">
  <div class="fb-like" data-href="http://facebook.com/123movies.to" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
</div>
<div class="addthis_native_toolbox"></div>
<span class="sh-text">Like and Share our website to support us.</span>
<div class="clearfix"></div>
</div>
<!--/social home-->


{% endblock %}


{% block footer %}
<div class="container">
    <div class="row">
      <div class="col-lg-4 footer-one">
        <div class="footer-link">
          <h3 class="footer-link-head">123movies</h3>

          <p><a title="Movies" href="http://123movies.to/movie/filter">Movies</a>
          </p>

          <p><a title="Top IMDb" href="http://123movies.to/movie/topimdb">Top IMDb</a>
          </p>

          <p><a title="DMCA" href="http://123movies.to/site/dmca">DMCA</a>
          </p>

          <p><a title="FAQ" href="http://123movies.to/site/faq">FAQ</a>
          </p>

          <p><a title="Advertising" href="http://123movies.to/site/promote">Advertising</a>
          </p>

          <p><a title="Advertising" href="http://123movies.to/site/donate">Donate</a>
          </p>
        </div>
        <div class="footer-link">
          <h3 class="footer-link-head">Movies</h3>

          <p><a title="Action" href="http://123movies.to/genre/action/">Action</a>
          </p>

          <p><a title="History" href="http://123movies.to/genre/history/">History</a>
          </p>

          <p><a title="Thriller" href="http://123movies.to/genre/thriller/">Thriller</a>
          </p>

          <p><a title="Sci-Fi" href="http://123movies.to/genre/sci-fi/">Sci-Fi</a>
          </p>
        </div>
        <div class="footer-link end">
          <h3 class="footer-link-head">TV-Series</h3>

          <p><a title="United States" href="http://123movies.to/movie/filter/series">United States</a>
          </p>

          <p><a title="Korea" href="http://123movies.to/movie/filter/series">Korea</a>
          </p>

          <p><a title="China" href="http://123movies.to/movie/filter/series">China</a>
          </p>

          <p><a title="Taiwan" href="http://123movies.to/movie/filter/series">Taiwan</a>
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-lg-4 footer-subs">
        <h3 class="footer-link-head">Subscribe</h3>

        <p class="desc">Subscribe to 123Movies mailing list to receive updates on movies, tv-series and news
        </p>

        <div class="form-subs mt20">
          <div class="subc-input pull-left" style="width:65%; margin-right: 5%;">
            <input type="email" placeholder="Enter your email" id="Email" name="email-footer" class="form-control">
          </div>
          <div class="subc-submit pull-left" style="width:30%;">
            <button id="subscribe-submit-footer" class="btn btn-block btn-success btn-approve" type="button" onclick="subscribe_footer()">Subscribe
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div id="error-email-subs-footer" class="alert alert-danger error-block"></div>
        <div id="success-subs-footer" class="alert alert-success error-block"></div>
        <div class="clearfix"></div>
      </div>
      <div class="col-lg-4 footer-copyright">
        <p><img border="0" src="http://123movies.to/assets/images/logo.png" class="mv-ft-logo">
        </p>

        <p>Copyright &copy; 123movies.to. All Rights Reserved</p>

        <p style="font-size: 11px; line-height: 14px; color: rgba(255,255,255,0.4)">Disclaimer: This site does not store any files on its server. All contents are provided by non-affiliated third parties.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="footer-tags">
      <a title="Watch full movies online">Watch full movies online</a>
      <a title="Free movies online">Free movies online</a>
      <a title="Movietube">Movietube</a>
      <a title="Free online movies full">Free online movies full</a>
      <a title="Movie2k">Movie2k</a>
      <a title="Watch movies 2k">Watch movies 2k</a>
    </div>
  </div>
{% endblock %}